NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_KIBANA_DASHBOARD_URL="http://localhost:5601/app/dashboards#/view/6b7d6179-32ed-483c-b5d3-09b2eb97e60c?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-90d%2Fd%2Cto%3Anow))"
